body {
  padding-top: 10px;
  background: rgb(226, 226, 226);
  background: #FBFCFA;
  color: #1B4F08;
  /*background: #82C46C;*/
}
[class*="col-"], footer {
  background-color: lightgrey;
  /*border: 1px solid #9E9E9E;*/
  /*line-height: 40px;*/
  text-align: center;
}


.container {
  padding: 15px;
  margin: 0 auto;
  background-color: #FEFEFE;
  border : 1px solid #BBD2E1;
  border : 1px solid #82C46C;
  border-radius: 15px;
  -webkit-box-shadow: 7px 5px 8px 0px #82C46C;
  -moz-box-shadow:    7px 5px 8px 0px #82C46C;
  box-shadow:         7px 5px 8px 0px #82C46C;
}

.header, .header div, .footer_mine div {
  background: #FEFEFE;
  border : 0px;
  color: #1B4F08;
}
.header-contact {
  color: #1b4f08;

}
.row.middle-content, .row.middle-content div {
   background: #FEFEFE; 
}


.header, .firt_head {
  border-radius: 6px 6px 0 0;
}

.footer, .last-in-footer {
  border-radius: 0 0 6px 6px;
}

.titre-site {
  font-size: 2.5em;
  color: rgb(119, 119, 119);
  color: #1B4F08;
}

.masthead {
  margin-top: 15px;
}

.row.middle-content {
  margin-top: 15px;
  min-height: 250px;
  padding: 15px;
}

.footer_mine {
  font-size: 1.5em;
  border-top: 1px solid #1b4f08; 
  border-top: 1px solid #82C46C; 
  color: #18391E;
}

h1 {
  color: #1B4F08;
  font-size: 3em;
}
.row.middle-content .row.articles div {
  border : 1px solid #82C46C;
  border-radius: 5px;
  margin: 5px;
  padding: 15px;
}





/*************** SLIDESHOW *****************************/

 body {
      -webkit-font-smoothing: antialiased;
      font: normal 15px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
      color: #232525;
      padding-top:70px;
    }

    #slides {
      display: none;
      border: 1px solid #C1BFB1;
       box-shadow: 7px 5px 8px 0px grey;
       border-radius: 5px;
       padding: 15px;
    }

    #slides .slidesjs-navigation {
      margin-top:5px;
    }

    a.slidesjs-next,
    a.slidesjs-previous,
    a.slidesjs-play,
    a.slidesjs-stop {
      background-image: url(../img/btns-next-prev.png);
      background-repeat: no-repeat;
      display:block;
      width:12px;
      height:18px;
      overflow: hidden;
      text-indent: -9999px;
      float: left;
      margin-right:5px;
    }

    a.slidesjs-next {
      margin-right:10px;
      background-position: -12px 0;
    }

    a:hover.slidesjs-next {
      background-position: -12px -18px;
    }

    a.slidesjs-previous {
      background-position: 0 0;
    }

    a:hover.slidesjs-previous {
      background-position: 0 -18px;
    }

    a.slidesjs-play {
      width:15px;
      background-position: -25px 0;
    }

    a:hover.slidesjs-play {
      background-position: -25px -18px;
    }

    a.slidesjs-stop {
      width:18px;
      background-position: -41px 0;
    }

    a:hover.slidesjs-stop {
      background-position: -41px -18px;
    }

    .slidesjs-pagination {
      margin: 7px 0 0;
      float: right;
      list-style: none;
    }

    .slidesjs-pagination li {
      float: left;
      margin: 0 1px;
    }

    .slidesjs-pagination li a {
      display: block;
      width: 13px;
      height: 0;
      padding-top: 13px;
      background-image: url(../img/pagination.png);
      background-position: 0 0;
      float: left;
      overflow: hidden;
    }

    .slidesjs-pagination li a.active,
    .slidesjs-pagination li a:hover.active {
      background-position: 0 -13px
    }

    .slidesjs-pagination li a:hover {
      background-position: 0 -26px
    }

    #slides a:link,
    #slides a:visited {
      color: #333
    }

    #slides a:hover,
    #slides a:active {
      color: #9e2020
    }

    .navbar {
      overflow: hidden
    }




  #slides {
      display: none
    }

    .container {
      margin: 0 auto
    }

    /* For tablets & smart phones */
    @media (max-width: 767px) {
      body {
        padding-left: 20px;
        padding-right: 20px;
      }
      .container {
        width: auto
      }
    }

    /* For smartphones */
    @media (max-width: 480px) {
      .container {
        width: auto
      }
    }

    /* For smaller displays like laptops */
    @media (min-width: 768px) and (max-width: 979px) {
      .container {
        width: 724px
      }
    }

    /* For larger displays */
    @media (min-width: 1200px) {
      .container {
        width: 1170px
      }
    }
/*************** SLIDESHOW *****************************/